h1 {
    font-size: 40px;
    font-family: 'Fantasy Magist';
    font-weight: normal;
    margin-bottom: 0;
}

.contactFormContainer input, .contactFormContainer textarea {
    background-color: #D0B076;
    font-family: 'Poppins';
    font-size: 17px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contactFormFirstRow {
    display: flex;
    margin-top: 40px;
}

.contactFormFirstRow input {
    margin-right: 20px;
    width: 260px;
    margin-bottom: 20px;
}

.contactFormSubject input {
    width: 570px;
    margin-bottom: 20px;
}

.contactFormMessage textarea {
    width: 570px;
    height: 175px;
    margin-bottom: 20px;
}

.contactFormSubmit {
    width: 570px;
    display: flex;
    justify-content: center;
}

.contactFormSubmit button {
    background-color: #358F43;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    font-family: 'Poppins';
}

.contactFormSubmit button:hover {
    cursor: pointer;
}

h2 {
    font-size: 26px;
    font-family: 'Fantasy Magist';
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 40px;
}

.contactInformations {
    display: flex;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    margin-top: 10px;
}

.contactInfo img {
    width: 32.5px;
    height: 32.5px;
    margin-right: 10px;
}

@media (max-width: 830px) {
    h1 {
        font-size: 38px;
        text-align: center;
    }

    .contactFormContainer div {
        display: flex;
        justify-content: center;
    }

    .contactFormName input, .contactFormEmail input {
        margin-right: 0;
    }

    .contactFormFirstRow {
        justify-content: space-between !important;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    .contactInfo {
        justify-content: center;
        font-size: 15px;
    }

    .contactFormSubmit {
        width: 100%;
    }
}

@media (max-width: 610px) {
    h1 {
        font-size: 32px;
        text-align: center;
        margin-top: 0;
    }

    .contactFormFirstRow {
        width: 425px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactFormFirstRow input {
        width: 170px;
    }

    .contactFormSubject input, .contactFormMessage textarea {
        width: 395px;
    }

    form input, form textarea {
        font-size: 15px !important;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    .contactInfo img {
        width: 27.5px;
        height: 27.5px;
        margin-right: 10px;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 30px;
    }

    .contactFormFirstRow {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactFormFirstRow input {
        width: 130px;
    }

    .contactFormSubject input, .contactFormMessage textarea {
        width: 310px;
    }

    form input, form textarea {
        font-size: 14px !important;
    }
}