h1 {
    font-size: 40px;
    font-family: 'Fantasy Magist';
    font-weight: normal;
    margin-bottom: 0;
}

.projects {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.project {
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 830px) {
    h1 {
        font-size: 38px;
        text-align: center;
    }

    .projects {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        overflow-y: scroll;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 32px;
        text-align: center;
        margin-top: 0;
    }

    .projects {
        margin-top: 10px;
    }

    .project {
        width: 300px;
        height: 125px;
        border: 1px solid black;
        margin-right: 0;
    }

    .project img {
        height: 75px;
    }

    .projectTitleContainer img {
        width: 36px;
        height: 36px;
    }

    .projectTitleContainer span {
        font-size: 16px;
        margin-left: 7px;
    }
}